openapi: 3.0.1
info:
  title: Brevo API
  description: |
    Brevo provide a RESTFul API that can be used with any languages. With this API, you will be able to :
      - Manage your campaigns and get the statistics
      - Manage your contacts
      - Send transactional Emails and SMS
      - and much more...

    You can download our wrappers at https://github.com/orgs/brevo

    **Possible responses**
      | Code | Message |
      | :-------------: | ------------- |
      | 200  | OK. Successful Request  |
      | 201  | OK. Successful Creation |
      | 202  | OK. Request accepted |
      | 204  | OK. Successful Update/Deletion  |
      | 400  | Error. Bad Request  |
      | 401  | Error. Authentication Needed  |
      | 402  | Error. Not enough credit, plan upgrade needed  |
      | 403  | Error. Permission denied  |
      | 404  | Error. Object does not exist |
      | 405  | Error. Method not allowed  |
      | 406  | Error. Not Acceptable  |
      | 422  | Error. Unprocessable Entity |
  contact:
    name: Brevo Support
    url: https://account.brevo.com/support
    email: contact@brevo.com
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT
  version: 3.0.0
servers:
  - url: https://api.brevo.com/v3
security:
  - api-key: [ ]
  - partner-key: [ ]
paths:
  /emailCampaigns:
    get:
      tags:
        - Email Campaigns
      summary: Return all your created email campaigns
      operationId: getEmailCampaigns
      parameters:
        - name: type
          in: query
          description: Filter on the type of the campaigns
          schema:
            type: string
            enum:
              - classic
              - trigger
        - name: status
          in: query
          description: Filter on the status of the campaign
          schema:
            type: string
            enum:
              - suspended
              - archive
              - sent
              - queued
              - draft
              - inProcess
        - name: statistics
          in: query
          description: Filter on the type of statistics required. Example **globalStats** value will only fetch globalStats info of the campaign in returned response.This option only returns data for events occurred in the last 6 months.For older campaigns, it’s advisable to use the **Get Campaign Report** endpoint.
          schema:
            type: string
            enum:
              - globalStats
              - linksStats
              - statsByDomain
        - name: startDate
          in: query
          description: |
            **Mandatory if endDate is used**. Starting (urlencoded) UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ) to filter the sent email campaigns.
            **Prefer to pass your timezone in date-time format for accurate result** ( only available if either 'status' not passed and if passed is set to 'sent' )
          schema:
            type: string
        - name: endDate
          in: query
          description: |
            **Mandatory if startDate is used**. Ending (urlencoded) UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ) to filter the sent email campaigns.
            **Prefer to pass your timezone in date-time format for accurate result** ( only available if either 'status' not passed and if passed is set to 'sent' )
          schema:
            type: string
        - name: limit
          in: query
          description: Number of documents per page
          schema:
            maximum: 100
            minimum: 0
            type: integer
            format: int64
            default: 50
        - name: offset
          in: query
          description: Index of the first document in the page
          schema:
            type: integer
            format: int64
            default: 0
        - name: sort
          in: query
          description: Sort the results in the ascending/descending order of record creation. Default order is **descending** if `sort` is not passed
          required: false
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
        - name: excludeHtmlContent
          in: query
          description: Use this flag to exclude htmlContent from the response body. If set to **true**, htmlContent field will be returned as empty string in the response body
          schema:
            type: boolean
            enum:
              - true
              - false
      responses:
        200:
          description: Email campaigns informations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEmailCampaigns'
              examples:
                response:
                  value:
                    count: 2
                    campaigns:
                      - id: 12
                        name: EN - Sales Summer 2017
                        subject: 20% OFF for 2017 Summer Sales
                        previewText: Don't miss the sale
                        type: classic
                        status: sent
                        scheduledAt: 2017-06-01T12:30:00Z
                        testSent: true
                        header: '[DEFAULT_HEADER]'
                        footer: '[DEFAULT_FOOTER]'
                        sender:
                          email: marketing@mycompany.com
                          name: Marketing
                          id: 26
                        replyTo: replyto@domain.com
                        toField: '{FNAME} {LNAME}'
                        htmlContent: This is my HTML Content
                        shareLink: http://example.com/fhsgccc.html?t=9865448900
                        tag: Newsletter
                        createdAt: 2017-05-01T12:30:00Z
                        modifiedAt: 2017-05-01T12:30:00Z
                        inlineImageActivation: true
                        mirrorActive: true
                        recurring: false
                        recipients:
                          lists:
                            - 5
                          exclusionLists:
                            - 13
                        statistics:
                          globalStats:
                            uniqueClicks: 2300
                            clickers: 2665
                            complaints: 1
                            delivered: 19765
                            sent: 19887
                            softBounces: 100
                            hardBounces: 87
                            uniqueViews: 7779
                            trackableViews: 5661
                            trackableViewsRate: 23.45
                            estimatedViews: 560
                            unsubscriptions: 2
                            viewed: 8999
                          campaignStats:
                            - listId: 5
                              uniqueClicks: 2300
                              clickers: 2665
                              complaints: 1
                              delivered: 19765
                              sent: 19887
                              softBounces: 100
                              hardBounces: 87
                              uniqueViews: 7779
                              trackableViews: 5661
                              unsubscriptions: 2
                              viewed: 8999
                              deferred: 30
                          mirrorClick: 120
                          remaining: 1000
                          linksStats:
                            http://myUrl1.domain.com: 80
                          statsByDomain:
                            yahoo.com:
                              uniqueClicks: 298
                              clickers: 533
                              complaints: 0
                              sent: 25601
                              softBounces: 5
                              hardBounces: 0
                              uniqueViews: 3527
                              unsubscriptions: 17
                              viewed: 5255
                              delivered: 25596
                            hotmail.co.uk:
                              uniqueClicks: 1970
                              clickers: 2720
                              complaints: 5
                              sent: 117055
                              softBounces: 111
                              hardBounces: 0
                              uniqueViews: 21111
                              unsubscriptions: 105
                              viewed: 35251
                              delivered: 117056
                      - id: 22
                        name: Weekly - 1
                        subject: Week 1 - Newsletter
                        previewText: your weekly newsletter
                        type: Classic
                        status: draft
                        scheduledAt: ""
                        testSent: false
                        header: '[DEFAULT_HEADER]'
                        footer: '[DEFAULT_FOOTER]'
                        sender:
                          email: newsletter@mycompany.com
                          name: Newsletter
                          id: 26
                        replyTo: replyto@domain.com
                        toField: '{FNAME} {LNAME}'
                        htmlContent: This is my HTML Content
                        shareLink: http://example.com/fhsgccc.html?t=9865448900
                        tag: Newsletter
                        createdAt: 2017-05-01T12:30:00Z
                        modifiedAt: 2017-05-01T12:30:00Z
                        inlineImageActivation: true
                        mirrorActive: true
                        recurring: false
                        recipients:
                          lists:
                            - 10
                          exclusionLists:
                            - 45
                        statistics:
                          globalStats:
                            uniqueClicks: 2300
                            clickers: 2665
                            complaints: 1
                            delivered: 19765
                            sent: 19887
                            softBounces: 100
                            hardBounces: 87
                            uniqueViews: 7779
                            trackableViews: 5661
                            trackableViewsRate: 23.45
                            estimatedViews: 560
                            unsubscriptions: 2
                            viewed: 8999
                          campaignStats:
                            - listId: 10
                              uniqueClicks: 2300
                              clickers: 2665
                              complaints: 1
                              delivered: 19765
                              sent: 19887
                              softBounces: 100
                              hardBounces: 87
                              uniqueViews: 7779
                              trackableViews: 5661
                              unsubscriptions: 2
                              viewed: 8999
                              deferred: 30
                          mirrorClick: 120
                          remaining: 1000
                          linksStats:
                            http://myUrl1.domain.com:
                              nbClick: 80
                            http://myUrl2.domain.com:
                              nbClick: 80
                            http://myUrl3.domain.com:
                              nbClick: 80
                          statsByDomain:
                            gmail:
                              uniqueClicks: 2300
                              clickers: 2665
                              complaints: 1
                              delivered: 19765
                              sent: 19887
                              softBounces: 100
                              hardBounces: 87
                              uniqueViews: 7779
                              unsubscriptions: 2
                              viewed: 8999
                              deferred: 30
                            aol:
                              uniqueClicks: 2300
                              clickers: 2665
                              complaints: 1
                              delivered: 19765
                              sent: 19887
                              softBounces: 100
                              hardBounces: 87
                              uniqueViews: 7779
                              unsubscriptions: 2
                              viewed: 8999
                              deferred: 30
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
    post:
      tags:
        - Email Campaigns
      summary: Create an email campaign
      operationId: createEmailCampaign
      requestBody:
        description: Values to create a campaign
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createEmailCampaign'
        required: true
      responses:
        201:
          $ref: '#/components/responses/createModel'
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /emailCampaigns/{campaignId}:
    get:
      tags:
        - Email Campaigns
      summary: Get an email campaign report
      operationId: getEmailCampaign
      parameters:
        - name: campaignId
          in: path
          description: Id of the campaign
          required: true
          schema:
            type: integer
            format: int64
        - name: statistics
          in: query
          description: Filter on the type of statistics required. Example **globalStats** value will only fetch globalStats info of the campaign in returned response.
          required: false
          schema:
            type: string
            enum:
              - globalStats
              - linksStats
              - statsByDomain
              - statsByDevice
              - statsByBrowser
      responses:
        200:
          description: Email campaign informations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEmailCampaign'
              examples:
                response:
                  value:
                    id: 22
                    name: Weekly - 1
                    subject: Week 1 - Newsletter
                    previewText: your weekly newsletter!
                    type: classic
                    status: draft
                    scheduledAt: 2017-09-22T12:30:00Z
                    testSent: false
                    header: '[DEFAULT_HEADER]'
                    footer: '[DEFAULT_FOOTER]'
                    sender:
                      email: newsletter@mycompany.com
                      name: Newsletter
                      id: 26
                    replyTo: replyto@domain.com
                    toField: '{FNAME} {LNAME}'
                    htmlContent: This is my HTML Content
                    shareLink: http://dhh.brevo.com/fhsgccc.html?t=9865448900
                    tag: Newsletter
                    createdAt: 2017-05-01T12:30:00Z
                    modifiedAt: 2017-05-01T12:30:00Z
                    inlineImageActivation: true
                    mirrorActive: true
                    recurring: false
                    recipients:
                      lists:
                        - 22
                      exclusionLists:
                        - 45
                    statistics:
                      globalStats:
                        uniqueClicks: 2300
                        clickers: 2665
                        complaints: 1
                        delivered: 19765
                        sent: 19887
                        softBounces: 100
                        hardBounces: 87
                        uniqueViews: 7779
                        trackableViews: 5661
                        trackableViewsRate: 23.45
                        estimatedViews: 560
                        unsubscriptions: 2
                        viewed: 8999
                      campaignStats:
                        - listId: 22
                          uniqueClicks: 2300
                          clickers: 2665
                          complaints: 1
                          delivered: 19765
                          sent: 19887
                          softBounces: 100
                          hardBounces: 87
                          uniqueViews: 7779
                          trackableViews: 5661
                          unsubscriptions: 2
                          viewed: 8999
                          deferred: 30
                      mirrorClick: 120
                      remaining: 1000
                      linksStats:
                        http://myUrl1.domain.com:
                          nbClick: 80
                        http://myUrl2.domain.com:
                          nbClick: 80
                        http://myUrl3.domain.com:
                          nbClick: 80
                      statsByDomain:
                        gmail:
                          uniqueClicks: 2300
                          clickers: 2665
                          complaints: 1
                          delivered: 19765
                          sent: 19887
                          softBounces: 100
                          hardBounces: 87
                          uniqueViews: 7779
                          unsubscriptions: 2
                          viewed: 8999
                          deferred: 30
                      statsByDevice:
                        desktop:
                          mac:
                            clickers: 1
                            uniqueClicks: 0
                            viewed: 2
                            uniqueViews: 1
                        mobile:
                          androidMobile:
                            clickers: 1
                            uniqueClicks: 0
                            viewed: 1
                            uniqueViews: 0
                          iPhone:
                            clickers: 1
                            uniqueClicks: 0
                            viewed: 2
                            uniqueViews: 0
                      statsByBrowser:
                        thunderbird:
                          clickers: 1
                          uniqueClicks: 0
                          viewed: 1
                          uniqueViews: 0
                        safari:
                          clickers: 1
                          uniqueClicks: 0
                          viewed: 1
                          uniqueViews: 0
                        internetExplorer:
                          clickers: 0
                          uniqueClicks: 0
                          viewed: 1
                          uniqueViews: 0
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        404:
          description: Campaign ID not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
    put:
      tags:
        - Email Campaigns
      summary: Update an email campaign
      operationId: updateEmailCampaign
      parameters:
        - name: campaignId
          in: path
          description: Id of the campaign
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Values to update a campaign
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateEmailCampaign'
        required: true
      responses:
        204:
          description: Email campaign updated
          content: { }
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        404:
          description: Campaign ID not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
    delete:
      tags:
        - Email Campaigns
      summary: Delete an email campaign
      operationId: deleteEmailCampaign
      parameters:
        - name: campaignId
          in: path
          description: id of the campaign
          required: true
          schema:
            type: integer
            format: int64
      responses:
        204:
          description: Email campaign has been deleted
          content: { }
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        404:
          description: Campaign ID not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /emailCampaigns/{campaignId}/sendNow:
    post:
      tags:
        - Email Campaigns
      summary: Send an email campaign immediately, based on campaignId
      operationId: sendEmailCampaignNow
      parameters:
        - name: campaignId
          in: path
          description: Id of the campaign
          required: true
          schema:
            type: integer
            format: int64
      responses:
        204:
          description: Email campaign has been scheduled
          content: { }
        400:
          description: Campaign could not be sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        402:
          description: You don't have enough credit to send your campaign. Please update your plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        404:
          description: Campaign ID not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /emailCampaigns/{campaignId}/sendTest:
    post:
      tags:
        - Email Campaigns
      summary: Send an email campaign to your test list
      operationId: sendTestEmail
      parameters:
        - name: campaignId
          in: path
          description: Id of the campaign
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sendTestEmail'
        required: true
      responses:
        204:
          description: Test email has been sent successfully to all recipients
          content: { }
        400:
          description: Test email could not be sent to the following email addresses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postSendFailed'
        404:
          description: Campaign ID not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postSendFailed'
  /emailCampaigns/{campaignId}/status:
    put:
      tags:
        - Email Campaigns
      summary: Update an email campaign status
      operationId: updateCampaignStatus
      parameters:
        - name: campaignId
          in: path
          description: Id of the campaign
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Status of the campaign
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateCampaignStatus'
        required: true
      responses:
        204:
          description: The campaign status has been updated successfully
          content: { }
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        404:
          description: Campaign ID not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /emailCampaigns/{campaignId}/sendReport:
    post:
      tags:
        - Email Campaigns
      summary: Send the report of a campaign
      description: A PDF will be sent to the specified email addresses
      operationId: sendReport
      parameters:
        - name: campaignId
          in: path
          description: Id of the campaign
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Values for send a report
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sendReport'
        required: true
      responses:
        204:
          description: Report has been successfully sent to the defined recipients
          content: { }
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        404:
          description: Campaign ID not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /emailCampaigns/{campaignId}/abTestCampaignResult:
    get:
      tags:
        - Email Campaigns
      summary: Get an A/B test email campaign results
      description: Obtain winning version of an A/B test email campaign
      operationId: getAbTestCampaignResult
      parameters:
        - name: campaignId
          in: path
          description: Id of the A/B test campaign
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: A/B test email campaign Result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/abTestCampaignResult'
              examples:
                response:
                  value:
                    winningVersion: B
                    winningCriteria: Click
                    openRate: 100%
                    clickRate: 50%
                    winningVersionRate: 0%
                    statistics:
                      openers:
                        Version A: 20%
                        Version B: 100%
                      clicks:
                        Version A: 0%
                        Version B: 50%
                      unsubscribed:
                        Version A: 20%
                        Version B: 0%
                      softBounces:
                        Version A: 0%
                        Version B: 0%
                      hardBounces:
                        Version A: 0%
                        Version B: 0%
                      complaints:
                        Version A: 0%
                        Version B: 0%
                    clickedLinks:
                      Version A:
                        - link: https://google.com
                          clicksCount: 0
                          clickRate: 0%
                        - link: https://youtube.com
                          clicksCount: 0
                          clickRate: 0%
                      Version B:
                        - link: http://www.github.com
                          clicksCount: 2
                          clickRate: 40%
                        - link: http://www.stackoverflow.com
                          clicksCount: 3
                          clickRate: 60%
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        404:
          description: A/B test Email Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /emailCampaigns/{campaignId}/sharedUrl:
    get:
      tags:
        - Email Campaigns
      summary: Get a shared template url
      description: Get a unique URL to share & import an email template from one Brevo
        account to another.
      operationId: getSharedTemplateUrl
      parameters:
        - name: campaignId
          in: path
          description: Id of the campaign or template
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Shared template URL information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSharedTemplateUrl'
              examples:
                response:
                  value:
                    sharedUrl: https://my.brevo.com/pt2YU7R5W_guXlowgumy_VX4pFsKu._zd0Gjj96x1_GMmzc1Qps5ZIpj6nx-
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        404:
          description: Campaign/Template ID not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        405:
          description: Only email campaigns or templates are allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /emailCampaigns/{campaignId}/exportRecipients:
    post:
      tags:
        - Email Campaigns
      summary: Export the recipients of an email campaign
      operationId: emailExportRecipients
      parameters:
        - name: campaignId
          in: path
          description: Id of the campaign
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Values to send for a recipient export request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/emailExportRecipients'
        required: false
      responses:
        202:
          $ref: '#/components/responses/createdProcessId'
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        404:
          description: Campaign ID not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /emailCampaigns/images:
    post:
      tags:
        - Email Campaigns
      summary: Upload an image to your account's image gallery
      operationId: uploadImageToGallery
      requestBody:
        description: Parameters to upload an image
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/uploadImageToGallery'
        required: true
      responses:
        201:
          description: Image has been successfully uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/uploadImageModel'
              examples:
                response:
                  value:
                    url: 'https://img.mailinblue.com/100000/images/rnb/original/62casdase8wewq9df1c2f27c.jpeg'
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /smtp/email:
    post:
      tags:
        - Transactional emails
      summary: Send a transactional email
      operationId: sendTransacEmail
      requestBody:
        description: Values to send a transactional email
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sendSmtpEmail'
        required: true
      responses:
        201:
          description: transactional email sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createSmtpEmail'
              examples:
                response:
                  value:
                    messageId: '<201798300811.5787683@relay.domain.com>'
        202:
          description: transactional email scheduled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scheduleSmtpEmail'
              examples:
                response:
                  value:
                    messageId: '<201798300811.5787683@relay.domain.com>'
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /smtp/emails:
    get:
      tags:
        - Transactional emails
      summary: Get the list of transactional emails on the basis of allowed filters
      description: This endpoint will show the list of emails for past 30 days by
        default. To retrieve emails before that time, please pass startDate and endDate
        in query filters.
      operationId: getTransacEmailsList
      parameters:
        - name: email
          in: query
          description: |
            **Mandatory if templateId and messageId are not passed in query filters.** Email address to which transactional email has been sent.
          schema:
            type: string
        - name: templateId
          in: query
          description: |
            **Mandatory if email and messageId are not passed in query filters.** Id of the template that was used to compose transactional email.
          schema:
            type: integer
            format: int64
        - name: messageId
          in: query
          description: |
            **Mandatory if templateId and email are not passed in query filters.** Message ID of the transactional email sent.
          schema:
            type: string
        - name: startDate
          in: query
          description: |
            **Mandatory if endDate is used.** Starting date (YYYY-MM-DD) from which you want to fetch the list. **Maximum time period that can be selected is one month**.
          schema:
            type: string
        - name: endDate
          in: query
          description: |
            **Mandatory if startDate is used.** Ending date (YYYY-MM-DD) till which you want to fetch the list. **Maximum time period that can be selected is one month.**
          schema:
            type: string
        - name: sort
          in: query
          description: Sort the results in the ascending/descending order of record creation. Default order is **descending** if `sort` is not passed
          required: false
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
        - name: limit
          in: query
          description: Number of documents returned per page
          schema:
            maximum: 1000
            minimum: 0
            type: integer
            format: int64
            default: 500
        - name: offset
          in: query
          description: Index of the first document in the page
          schema:
            type: integer
            format: int64
            default: 0
      responses:
        200:
          description: List of transactional emails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTransacEmailsList'
              examples:
                response:
                  value:
                    count: 120
                    transactionalEmails:
                      - email: abc@xyz.com
                        subject: summer camp
                        templateId: 15
                        messageId: <201798300811.5787683@relay.domain.com>
                        uuid: 5a78c-209ok98262910-std2341
                        date: 2019-05-25T11:53:26Z
                      - email: test@test.com
                        subject: details verification
                        templateId: 15
                        messageId: <201798300811.5700093@relay.domain.com>
                        uuid: 5a78c-209ok98262910-s99a341
                        date: 2019-05-25T07:28:11Z
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /smtp/emails/{uuid}:
    get:
      tags:
        - Transactional emails
      summary: Get the personalized content of a sent transactional email
      operationId: getTransacEmailContent
      parameters:
        - name: uuid
          in: path
          description: Unique id of the transactional email that has been sent to a
            particular contact
          required: true
          schema:
            type: string
      responses:
        200:
          description: Transactional email content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTransacEmailContent'
              examples:
                response:
                  value:
                    email: abc@example.com
                    subject: Summer Camps
                    templateId: 12
                    date: 2016-02-25T11:53:26Z
                    events:
                      - name: sent
                        time: 2016-02-25T11:53:26Z
                      - name: delivered
                        time: 2016-02-25T11:55:26Z
                      - name: opened
                        time: 2016-02-26T09:53:26Z
                    body: <!DOCTYPE html> <html> <body> <h1>Greetings from the team</h1>
                      <p>This is the actual html content sent</p> </body> </html>
  /smtp/log/{identifier}:
    delete:
      tags:
        - Transactional emails
      summary: Delete an SMTP transactional log
      parameters:
        - name: identifier
          in: path
          description: MessageId or Email of the transactional log(s) to delete
          required: true
          schema:
            type: string
      responses:
        204:
          description: Transactional Logs deleted
          content: { }
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        404:
          description: Message ID not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /smtp/templates:
    get:
      tags:
        - Transactional emails
      summary: Get the list of email templates
      operationId: getSmtpTemplates
      parameters:
        - name: templateStatus
          in: query
          description: Filter on the status of the template. Active = true, inactive
            = false
          schema:
            type: boolean
        - name: limit
          in: query
          description: Number of documents returned per page
          schema:
            maximum: 1000
            minimum: 0
            type: integer
            format: int64
            default: 50
        - name: offset
          in: query
          description: Index of the first document in the page
          schema:
            type: integer
            format: int64
            default: 0
        - name: sort
          in: query
          description: Sort the results in the ascending/descending order of record creation. Default order is **descending** if `sort` is not passed
          required: false
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        200:
          description: transactional email templates informations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSmtpTemplates'
              examples:
                response:
                  value:
                    count: 2
                    templates:
                      - id: 5
                        name: ChristomasTimeTemplate
                        subject: Merry Christmas
                        isActive: false
                        testSent: false
                        sender:
                          name: John
                          email: john.smith@example.com
                          id: 23
                        replyTo: replyto@domain.com
                        toField: ""
                        tag: Festival
                        htmlContent: HTML CONTENT 1
                        createdAt: 2016-02-24T14:44:24Z
                        modifiedAt: 2016-02-24T15:37:11Z
                      - id: 12
                        name: SummerSales2017Template
                        subject: Enjoy our summer Sales !
                        isActive: true
                        testSent: false
                        sender:
                          name: John
                          email: john.smith@example.com
                          id: 23
                        replyTo: replyto@domain.com
                        toField: ""
                        tag: Summer
                        htmlContent: HTML CONTENT 2
                        createdAt: 2016-02-25T11:53:26Z
                        modifiedAt: 2016-02-25T11:53:26Z
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
    post:
      tags:
        - Transactional emails
      summary: Create an email template
      operationId: createSmtpTemplate
      requestBody:
        description: values to update in transactional email template
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSmtpTemplate'
        required: true
      responses:
        201:
          # transactional email template created
          $ref: '#/components/responses/createModel'
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /smtp/templates/{templateId}:
    get:
      tags:
        - Transactional emails
      summary: Returns the template information
      operationId: getSmtpTemplate
      parameters:
        - name: templateId
          in: path
          description: id of the template
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Email template informations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSmtpTemplateOverview'
              examples:
                response:
                  value:
                    id: 33
                    name: OrderConfirmation
                    subject: 'Order Confirmation : Thanks for your Purchase !'
                    isActive: true
                    testSent: false
                    sender:
                      name: John
                      email: john.smith@example.com
                      id: 26
                    replyTo: replyto@domain.com
                    toField: ""
                    tag: ""
                    htmlContent: HTML CONTENT 4
                    createdAt: 2016-02-25T11:53:26Z
                    modifiedAt: 2016-02-25T11:53:26Z
                    doiTemplate: false
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        404:
          description: Template ID not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
    put:
      tags:
        - Transactional emails
      summary: Update an email template
      operationId: updateSmtpTemplate
      parameters:
        - name: templateId
          in: path
          description: id of the template
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: values to update in transactional email template
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateSmtpTemplate'
        required: true
      responses:
        204:
          description: transactional email template updated
          content: { }
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        404:
          description: Template ID not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
    delete:
      tags:
        - Transactional emails
      summary: Delete an inactive email template
      operationId: deleteSmtpTemplate
      parameters:
        - name: templateId
          in: path
          description: id of the template
          required: true
          schema:
            type: integer
            format: int64
      responses:
        204:
          description: Inactive transactional email template has been deleted
          content: { }
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        404:
          description: Template ID not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /smtp/templates/{templateId}/sendTest:
    post:
      tags:
        - Transactional emails
      summary: Send a template to your test list
      operationId: sendTestTemplate
      parameters:
        - name: templateId
          in: path
          description: Id of the template
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sendTestEmail'
        required: true
      responses:
        204:
          description: Test email has been sent successfully to all recipients
          content: { }
        400:
          description: Test email could not be sent to the following email addresses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postSendFailed'
        404:
          description: Template ID not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /smtp/statistics/aggregatedReport:
    get:
      tags:
        - Transactional emails
      summary: Get your transactional email activity aggregated over a period of time
      description: This endpoint will show the aggregated stats for past 90 days by default if `startDate` and `endDate` OR `days` is not passed. The date range can not exceed 90 days
      operationId: getAggregatedSmtpReport
      parameters:
        - name: startDate
          in: query
          description: |
            **Mandatory if endDate is used.** Starting date of the report (YYYY-MM-DD). Must be lower than equal to endDate
          schema:
            type: string
        - name: endDate
          in: query
          description: |
            **Mandatory if startDate is used.** Ending date of the report (YYYY-MM-DD). Must be greater than equal to startDate
          schema:
            type: string
        - name: days
          in: query
          description: |
            Number of days in the past including today (positive integer). _Not compatible with 'startDate' and 'endDate'_
          schema:
            type: integer
            format: int64
        - name: tag
          in: query
          description: Tag of the emails
          schema:
            type: string
      responses:
        200:
          description: Aggregated report informations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAggregatedReport'
              examples:
                response:
                  value:
                    range: 2016-09-08|2017-04-28
                    requests: 19887
                    delivered: 18996
                    hardBounces: 234
                    softBounces: 1533
                    clicks: 9987
                    uniqueClicks: 8766
                    opens: 17654
                    uniqueOpens: 13688
                    spamReports: 1
                    blocked: 2
                    invalid: 0
                    unsubscribed: 2
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /smtp/statistics/reports:
    get:
      tags:
        - Transactional emails
      summary: Get your transactional email activity aggregated per day
      operationId: getSmtpReport
      parameters:
        - name: limit
          in: query
          description: Number of documents returned per page
          schema:
            maximum: 30
            minimum: 0
            type: integer
            format: int64
            default: 10
        - name: offset
          in: query
          description: Index of the first document on the page
          schema:
            type: integer
            format: int64
            default: 0
        - name: startDate
          in: query
          description: |
            **Mandatory if endDate is used.** Starting date of the report (YYYY-MM-DD)
          schema:
            type: string
        - name: endDate
          in: query
          description: |
            **Mandatory if startDate is used.** Ending date of the report (YYYY-MM-DD)
          schema:
            type: string
        - name: days
          in: query
          description: |
            Number of days in the past including today (positive integer). _Not compatible with 'startDate' and 'endDate'_
          schema:
            type: integer
            format: int64
        - name: tag
          in: query
          description: Tag of the emails
          schema:
            type: string
        - name: sort
          in: query
          description: Sort the results in the ascending/descending order of record creation. Default order is **descending** if `sort` is not passed
          required: false
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        200:
          description: Aggregated report informations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReports'
              examples:
                response:
                  value:
                    reports:
                      - date: 2017-04-30
                        requests: 10756
                        delivered: 10103
                        hardBounces: 21
                        softBounces: 137
                        clicks: 1026
                        uniqueClicks: 720
                        opens: 5091
                        uniqueOpens: 2318
                        spamReports: 0
                        blocked: 519
                        invalid: 1
                        unsubscribed: 0
                      - date: 2017-05-01
                        requests: 18812
                        delivered: 17499
                        hardBounces: 34
                        softBounces: 254
                        clicks: 1514
                        uniqueClicks: 1090
                        opens: 10089
                        uniqueOpens: 4393
                        spamReports: 0
                        blocked: 920
                        invalid: 2
                        unsubscribed: 3
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /smtp/statistics/events:
    get:
      tags:
        - Transactional emails
      summary: Get all your transactional email activity (unaggregated events)
      description: This endpoint will show the aggregated stats for past 30 days by default if `startDate` and `endDate` OR `days` is not passed. The date range can not exceed 90 days
      operationId: getEmailEventReport
      parameters:
        - name: limit
          in: query
          description: Number limitation for the result returned
          schema:
            maximum: 5000
            type: integer
            format: int64
            default: 2500
            minimum: 0
        - name: offset
          in: query
          description: Beginning point in the list to retrieve from.
          schema:
            type: integer
            format: int64
            default: 0
        - name: startDate
          in: query
          description: |
            **Mandatory if endDate is used.** Starting date of the report (YYYY-MM-DD). Must be lower than equal to endDate
          schema:
            type: string
        - name: endDate
          in: query
          description: |
            **Mandatory if startDate is used.** Ending date of the report (YYYY-MM-DD). Must be greater than equal to startDate
          schema:
            type: string
        - name: days
          in: query
          description: |
            Number of days in the past including today (positive integer). _Not compatible with 'startDate' and 'endDate'_
          schema:
            type: integer
            format: int64
        - name: email
          in: query
          description: Filter the report for a specific email addresses
          schema:
            type: string
            format: email
        - name: event
          in: query
          description: Filter the report for a specific event type
          schema:
            type: string
            enum:
              - bounces
              - hardBounces
              - softBounces
              - delivered
              - spam
              - requests
              - opened
              - clicks
              - invalid
              - deferred
              - blocked
              - unsubscribed
              - error
              - loadedByProxy
        - name: tags
          in: query
          description: Filter the report for tags (serialized and urlencoded array). To pass multiple tags, a format of string separated by commas is used such as **"one, two, three"**
          schema:
            type: string
        - name: messageId
          in: query
          description: Filter on a specific message id
          schema:
            type: string
        - name: templateId
          in: query
          description: Filter on a specific template id
          schema:
            type: integer
            format: int64
        - name: sort
          in: query
          description: Sort the results in the ascending/descending order of record creation. Default order is **descending** if `sort` is not passed
          required: false
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        200:
          description: Email events report informations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEmailEventReport'
              examples:
                response:
                  value:
                    events:
                      - email: john.smith@example.com
                        date: 2017-03-12T12:30:00Z
                        messageId: <201798300811.5787683@example.domain.com>
                        event: deferred
                        reason: Error connection timeout
                        tag: OrderConfirmation
                        from: john@example.com
                        templateId: 4
                      - email: john.smith@example.com
                        date: 2017-03-13T16:30:00Z
                        messageId: <201798300811.5787683@example.domain.com>
                        event: delivered
                        tag: OrderConfirmation
                        from: john@example.com
                        templateId: 5
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /smtp/blockedContacts/{email}:
    delete:
      tags:
        - Transactional emails
      summary: Unblock or resubscribe a transactional contact
      parameters:
        - name: email
          in: path
          description: contact email (urlencoded) to unblock.
          required: true
          schema:
            type: string
      responses:
        204:
          description: Contact unblocked
          content: { }
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        404:
          description: Contact email not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /smtp/blockedContacts:
    get:
      tags:
        - Transactional emails
      summary: Get the list of blocked or unsubscribed transactional contacts
      operationId: getTransacBlockedContacts
      parameters:
        - name: startDate
          in: query
          description: |
            **Mandatory if endDate is used.** Starting date (YYYY-MM-DD) from which you want to fetch the blocked or unsubscribed contacts
          schema:
            type: string
        - name: endDate
          in: query
          description: |
            **Mandatory if startDate is used.** Ending date (YYYY-MM-DD) till which you want to fetch the blocked or unsubscribed contacts
          schema:
            type: string
        - name: limit
          in: query
          description: Number of documents returned per page
          schema:
            maximum: 100
            type: integer
            format: int64
            default: 50
            minimum: 0
        - name: offset
          in: query
          description: Index of the first document on the page
          schema:
            type: integer
            format: int64
            default: 0
        - name: senders
          in: query
          description: Comma separated list of emails of the senders from which contacts
            are blocked or unsubscribed
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: sort
          in: query
          description: Sort the results in the ascending/descending order of record creation. Default order is **descending** if `sort` is not passed
          required: false
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        200:
          description: List of blocked or unsubscribed transactional contacts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTransacBlockedContacts'
              examples:
                response:
                  value:
                    count: 1
                    contacts:
                      - email: abc@xyz.com
                        senderEmail: ez312@gmal.com
                        reason:
                          message: Admin blocked
                          code: adminBlocked
                        blockedAt: 2017-05-01T12:30:00Z
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /smtp/blockedDomains:
    get:
      tags:
        - Transactional emails
      summary: Get the list of blocked domains
      description: Get the list of blocked domains
      operationId: getBlockedDomains
      responses:
        200:
          description: List of blocked domains
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getBlockedDomains'
              examples:
                response:
                  value:
                    domains:
                      - example.com
                      - testdomain.com
    post:
      tags:
        - Transactional emails
      summary: Add a new domain to the list of blocked domains
      description: Blocks a new domain in order to avoid messages being sent to the same
      operationId: blockNewDomain
      requestBody:
        description: Name of the domain to be blocked
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/blockDomain'
        required: true
      responses:
        201:
          description: Domain is successfully blocked
          content: { }
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /smtp/blockedDomains/{domain}:
    delete:
      tags:
        - Transactional emails
      summary: Unblock an existing domain from the list of blocked domains
      description: Unblocks an existing domain from the list of blocked domains
      operationId: deleteBlockedDomain
      parameters:
        - name: domain
          description: The name of the domain to be deleted
          in: path
          required: true
          schema:
            type: string
      responses:
        204:
          description: Domain is successfully deleted from the list of blocked domains
          content: { }
        404:
          description: Domain not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /smtp/deleteHardbounces:
    post:
      tags:
        - Transactional emails
      summary: Delete hardbounces
      description: Delete hardbounces. To use carefully (e.g. in case of temporary
        ISP failures)
      operationId: deleteHardbounces
      requestBody:
        description: values to delete hardbounces
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteHardbounces'
        required: false
      responses:
        204:
          description: Hardbounces deleted
          content: { }
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /smtp/emailStatus/{identifier}:
    get:
      tags:
        - Transactional emails
      summary: Fetch scheduled emails by batchId or messageId
      description: Fetch scheduled batch of emails by batchId or single scheduled email by messageId (Can retrieve data upto 30 days old)
      operationId: getScheduledEmailById
      parameters:
        - name: identifier
          description: The `batchId` of scheduled emails batch (Should be a valid UUIDv4) or the `messageId` of scheduled email.
          in: path
          required: true
          examples:
            batchId:
              value: 4320f270-a4e3-4a2e-b591-edfe30a5e627
              summary: batchId of scheduled batch
            messageId:
              value: <202202231031.53307417725@smtp-relay.mailin.fr>
              summary: messageId of scheduled email
          schema:
            type: string
        - name: startDate
          description: Mandatory if `endDate` is used. Starting date (YYYY-MM-DD) from which you want to fetch the list. Can be maximum 30 days older tha current date.
          in: query
          example: '2022-02-02'
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          description: Mandatory if `startDate` is used. Ending date (YYYY-MM-DD) till which you want to fetch the list. Maximum time period that can be selected is one month.
          in: query
          example: '2022-03-02'
          required: false
          schema:
            type: string
            format: date
        - name: sort
          in: query
          description: Sort the results in the ascending/descending order of record creation. Default order is **descending** if `sort` is not passed. Not valid when identifier is `messageId`.
          required: false
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
        - name: status
          in: query
          description: Filter the records by `status` of the scheduled email batch or message. Not valid when identifier is `messageId`.
          required: false
          schema:
            type: string
            enum:
              - processed
              - inProgress
              - queued
        - name: limit
          description: Number of documents returned per page. Not valid when identifier is `messageId`.
          in: query
          required: false
          example: 100
          schema:
            type: integer
            format: int64
            default: 100
            maximum: 500
            minimum: 0
        - name: offset
          description: Index of the first document on the page.  Not valid when identifier is `messageId`.
          in: query
          required: false
          example: 0
          schema:
            type: integer
            format: int64
            default: 0
      responses:
        200:
          description: Scheduled email batches
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/getScheduledEmailByBatchId'
                  - $ref: '#/components/schemas/getScheduledEmailByMessageId'
              examples:
                batchId:
                  value:
                    {
                      "count": 3,
                      "batches": [
                        {
                          "scheduledAt": "2022-02-28T11:36:43.576000000Z",
                          "createdAt": "2022-02-26T11:36:43.576000000Z",
                          "status": "queued"
                        },
                        {
                          "scheduledAt": "2022-02-25T11:36:43.576000000Z",
                          "createdAt": "2022-02-24T11:36:43.576000000Z",
                          "status": "processed"
                        },
                        {
                          "scheduledAt": "2022-02-26T11:36:43.576000000Z",
                          "createdAt": "2022-02-25T11:36:43.576000000Z",
                          "status": "inProgress"
                        }
                      ]
                    }
                messageId:
                  value:
                    {
                      "scheduledAt": "2022-02-28T11:36:43.576000000Z",
                      "createdAt": "2022-02-26T11:36:43.576000000Z",
                      "status": "queued"
                    }
        400:
          description: Invalid parameters passed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        404:
          description: Record(s) for identifier not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /smtp/email/{identifier}:
    delete:
      tags:
        - Transactional emails
      summary: Delete scheduled emails by batchId or messageId
      description: Delete scheduled batch of emails by batchId or single scheduled email by messageId
      operationId: deleteScheduledEmailById
      parameters:
        - name: identifier
          description: The `batchId` of scheduled emails batch (Should be a valid UUIDv4) or the `messageId` of scheduled email.
          in: path
          required: true
          examples:
            batchId:
              value: 4320f270-a4e3-4a2e-b591-edfe30a5e627
              summary: batchId of scheduled batch
            messageId:
              value: <202202231031.53307417725@smtp-relay.mailin.fr>
              summary: messageId of scheduled email
          schema:
            type: string
      responses:
        204:
          description: Scheduled email(s) deleted
          content: { }
        400:
          description: Invalid parameters passed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        404:
          description: Record(s) for identifier not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /contacts:
    get:
      tags:
        - Contacts
      summary: Get all the contacts
      operationId: getContacts
      parameters:
        - name: limit
          in: query
          description: Number of documents per page
          schema:
            maximum: 1000
            minimum: 0
            type: integer
            format: int64
            default: 50
        - name: offset
          in: query
          description: Index of the first document of the page
          schema:
            type: integer
            format: int64
            default: 0
        - name: modifiedSince
          in: query
          description: |
            Filter (urlencoded) the contacts modified after a given UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). **Prefer to pass your timezone in date-time format for accurate result.**
          schema:
            type: string
        - name: createdSince
          in: query
          description: |
            Filter (urlencoded) the contacts created after a given UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). **Prefer to pass your timezone in date-time format for accurate result.**
          schema:
            type: string
        - name: sort
          in: query
          description: Sort the results in the ascending/descending order of record creation. Default order is **descending** if `sort` is not passed
          required: false
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
        - name: segmentId
          in: query
          description: Id of the segment. **Either listIds or segmentId can be passed.**
          schema:
            type: integer
            format: int64
        - name: listIds
          in: query
          description: Ids of the list. **Either listIds or segmentId can be passed.**
          schema:
            type: array
            items:
              type: integer
              format: int64
        - name: filter
          in: query
          description: |
            Filter the contacts on the basis of attributes. **Allowed operator: equals. (e.g. filter=equals(FIRSTNAME,"Antoine"), filter=equals(B1, true), filter=equals(DOB, "1989-11-23"))**
          schema:
            type: string
      responses:
        200:
          description: All contacts listed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getContacts'
              examples:
                response:
                  value:
                    contacts:
                      - email: contact1@example.com
                        id: 247
                        emailBlacklisted: true
                        smsBlacklisted: true
                        createdAt: 2017-05-01T17:05:03Z
                        modifiedAt: 2017-05-01T17:05:03Z
                        listIds:
                          - 43
                          - 58
                        attributes:
                          SMS: "33058407250"
                          IDENTIFICATION: 1-3RHQ-259
                          CIV: MS
                          LAST_NAME: Brennon
                          FIRST_NAME: Meg
                          DOB: 1986-05-02
                          ADDRESS: 1 5th avenue
                          ZIP_CODE: "44300"
                          CITY: New-York
                          ACTION_CODE: 17HH98CH
                      - email: 33058407248@mailin-sms.com
                        id: 245
                        emailBlacklisted: true
                        smsBlacklisted: false
                        createdAt: 2017-05-01T17:05:03Z
                        modifiedAt: 2017-05-01T17:05:03Z
                        listIds:
                          - 43
                          - 61
                          - 58
                        attributes:
                          SMS: "33058407248"
                          IDENTIFICATION: 1-78JS-432
                          CIV: MS
                          LAST_NAME: Press
                          FIRST_NAME: Sophia
                          DOB: 1980-09-11
                          ADDRESS: 5 Flower Street
                          ZIP_CODE: "44119"
                          CITY: Seattle
                          ACTION_CODE: 17HU765
                    count: 3
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        429:
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
    post:
      tags:
        - Contacts
      summary: Create a contact
      description: Creates new contacts on Brevo. Contacts can be created by passing either - <br><br>
        1. email address of the contact (email_id),  <br>
        2. phone number of the contact (to be passed as "SMS" field in "attributes" along with proper country code), For example- {"SMS":"+91xxxxxxxxxx"} or {"SMS":"0091xxxxxxxxxx"} <br>
        3. ext_id <br>
      operationId: createContact
      requestBody:
        description: Values to create a contact
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createContact'
        required: true
      responses:
        201:
          description: Contact created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createUpdateContactModel'
              examples:
                response:
                  value:
                    id: 21
        204:
          description: Contact updated
          content: { }
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contactErrorModel'
        425:
          description: Too Early
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contactErrorModel'
  /contacts/doubleOptinConfirmation:
    post:
      tags:
        - Contacts
      summary: Create Contact via DOI (Double-Opt-In) Flow
      operationId: createDoiContact
      requestBody:
        description: Values to create the Double opt-in (DOI) contact
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDoiContact'
        required: true
      responses:
        201:
          description: DOI Contact created
          content: { }
        204:
          description: DOI Contact updated
          content: { }
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
      x-codegen-request-body-name: createDoiContact
  /contacts/{identifier}:
    get:
      tags:
        - Contacts
      summary: Get a contact's details
      description: There are 2 ways to get a contact <br><br>
        Option 1- https://api.brevo.com/v3/contacts/{identifier} <br><br>
        Option 2- https://api.brevo.com/v3/contacts/{identifier}?identifierType={} <br>
        <br>
        Option 1 only works if identifierType is email_id (for EMAIL), phone_id (for SMS) or contact_id (for ID of the contact),where you can directly pass the value of EMAIL, SMS and ID of the contact.   <br><br>
        Option 2 works for all identifierType, use email_id for EMAIL attribute, phone_id for SMS attribute, contact_id for ID of the contact, ext_id for EXT_ID attribute, whatsapp_id for WHATSAPP attribute, landline_number_id for LANDLINE_NUMBER attribute <br><br>Along with the contact details, this endpoint will show the statistics of contact for the recent 90 days by default. To fetch the earlier statistics, please use Get contact campaign stats ``https://developers.brevo.com/reference/contacts-7#getcontactstats`` endpoint with the appropriate date ranges.
      operationId: getContactInfo
      parameters:
        - name: identifier
          in: path
          description: Email (urlencoded) OR ID of the contact OR its SMS attribute value OR EXT_ID attribute (urlencoded)
          required: true
          schema:
            oneOf:
              - type: string
              - type: integer
        - name: identifierType
          in: query
          description: email_id for Email, phone_id for SMS attribute, contact_id for ID of the contact, ext_id for EXT_ID attribute, whatsapp_id for WHATSAPP attribute, landline_number_id for LANDLINE_NUMBER attribute
          schema:
            type: string
            enum:
              - email_id
              - phone_id
              - contact_id
              - ext_id
              - whatsapp_id
              - landline_number_id
        - name: startDate
          in: query
          description: |
            **Mandatory if endDate is used.** Starting date (YYYY-MM-DD) of the statistic events specific to campaigns. Must be lower than equal to endDate
          schema:
            type: string
        - name: endDate
          in: query
          description: |
            **Mandatory if startDate is used.** Ending date (YYYY-MM-DD) of the statistic events specific to campaigns. Must be greater than equal to startDate.
          schema:
            type: string
      responses:
        200:
          description: Contact informations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getExtendedContactDetails'
              examples:
                response:
                  value:
                    email: peggy.rain@example.com
                    id: 42
                    emailBlacklisted: false
                    smsBlacklisted: false
                    createdAt: 2017-05-02T16:40:31Z
                    modifiedAt: 2017-05-02T16:40:31Z
                    attributes:
                      FIRST_NAME: Peggy
                      LAST_NAME: Rain
                      SMS: "3087433387669"
                      CIV: "1"
                      DOB: 1986-04-13
                      ADDRESS: 987 5th avenue
                      ZIP_CODE: "87544"
                      CITY: New-York
                      AREA: NY
                    listIds:
                      - 40
                    statistics:
                      messagesSent:
                        - campaignId: 21
                          eventTime: 2016-05-03T20:15:13Z
                        - campaignId: 42
                          eventTime: 2016-10-17T10:30:01Z
                      opened:
                        - campaignId: 21
                          count: 2
                          eventTime: 2016-05-03T21:24:56Z
                          ip: 66.249.93.118
                        - campaignId: 68
                          count: 1
                          eventTime: 2017-01-30T13:56:40Z
                          ip: 66.249.93.217
                      clicked:
                        - campaignId: 21
                          links:
                            - count: 2
                              eventTime: 2016-05-03T21:25:01Z
                              ip: 66.249.93.118
                              url: https://url.domain.com/fbe5387ec717e333628380454f68670010b205ff/1/go?uid={EMAIL}&utm_source=brevo&utm_campaign=test_camp&utm_medium=email
                      delivered:
                        - campaignId: 21
                          count: 2
                          eventTime: 2016-05-03T21:24:56Z
                          ip: 66.249.93.118
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        404:
          description: Contact's email not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
    delete:
      tags:
        - Contacts
      summary: Delete a contact
      description: There are 2 ways to delete a contact <br><br>
        Option 1- https://api.brevo.com/v3/contacts/{identifier} <br><br>
        Option 2- https://api.brevo.com/v3/contacts/{identifier}?identifierType={} <br>
        <br>
        Option 1 only works if identifierType is email_id (for EMAIL) or contact_id (for ID of the contact),where you can directly pass the value of EMAIL and ID of the contact.   <br><br>
        Option 2 works for all identifierType, use email_id for EMAIL attribute, contact_id for ID of the contact, ext_id for EXT_ID attribute, phone_id for SMS attribute, whatsapp_id for WHATSAPP attribute, landline_number_id for LANDLINE_NUMBER attribute.
      operationId: deleteContact
      parameters:
        - name: identifier
          in: path
          description: Email (urlencoded) OR ID of the contact OR EXT_ID attribute (urlencoded)
          required: true
          schema:
            oneOf:
              - type: string
              - type: integer
        - name: identifierType
          in: query
          description: email_id for Email, contact_id for ID of the contact, ext_id for EXT_ID attribute, phone_id for SMS attribute, whatsapp_id for WHATSAPP attribute, landline_number_id for LANDLINE_NUMBER attribute
          schema:
            type: string
            enum:
              - email_id
              - contact_id
              - ext_id
              - phone_id
              - whatsapp_id
              - landline_number_id
      responses:
        204:
          description: Contact deleted
          content: { }
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        404:
          description: Contact not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        405:
          description: You're not allowed to delete registered email contact with
            Brevo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
    put:
      tags:
        - Contacts
      summary: Update a contact
      description: There are 2 ways to update a contact <br><br>
        Option 1- https://api.brevo.com/v3/contacts/{identifier} <br><br>
        Option 2- https://api.brevo.com/v3/contacts/{identifier}?identifierType={} <br>
        <br>
        Option 1 only works if identifierType is email_id (for EMAIL) or contact_id (for ID of the contact),where you can directly pass the value of EMAIL and ID of the contact.   <br><br>
        Option 2 works for all identifierType, use email_id for EMAIL attribute, contact_id for ID of the contact, ext_id for EXT_ID attribute, phone_id for SMS attribute, whatsapp_id for WHATSAPP attribute, landline_number_id for LANDLINE attribute
      operationId: updateContact
      parameters:
        - name: identifier
          in: path
          description: Email (urlencoded) OR ID of the contact OR EXT_ID attribute (urlencoded) OR its SMS attribute value OR its WHATSAPP attribute value OR its LANDLINE attribute value
          required: true
          schema:
            oneOf:
              - type: string
              - type: integer
        - name: identifierType
          in: query
          description: email_id for Email, contact_id for ID of the contact, ext_id for EXT_ID attribute, phone_id for SMS attribute, whatsapp_id for WHATSAPP attribute, landline_number_id for LANDLINE attribute
          schema:
            type: string
            enum:
              - email_id
              - contact_id
              - ext_id
              - phone_id
              - whatsapp_id
              - landline_number_id
      requestBody:
        description: Values to update a contact
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateContact'
        required: true
      responses:
        204:
          description: Contact updated
          content: { }
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contactErrorModel'
        404:
          description: Contact's email not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contactErrorModel'
        425:
          description: Too Early
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contactErrorModel'
      x-codegen-request-body-name: updateContact
  /contacts/batch:
    post:
      tags:
        - Contacts
      summary: Update multiple contacts
      operationId: updateBatchContacts
      requestBody:
        description: Values to update multiple contacts
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateBatchContacts'
        required: true
      responses:
        204:
          description: All contacts updated
          content: { }
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /contacts/{identifier}/campaignStats:
    get:
      tags:
        - Contacts
      summary: Get email campaigns' statistics for a contact
      operationId: getContactStats
      parameters:
        - name: identifier
          in: path
          description: Email (urlencoded) OR ID of the contact
          required: true
          schema:
            oneOf:
              - type: string
              - type: integer
        - name: startDate
          in: query
          description: |
            **Mandatory if endDate is used.** Starting date (YYYY-MM-DD) of the statistic events specific to campaigns. Must be lower than equal to endDate
          schema:
            type: string
        - name: endDate
          in: query
          description: |
            **Mandatory if startDate is used.** Ending date (YYYY-MM-DD) of the statistic events specific to campaigns. Must be greater than equal to startDate. Maximum difference between startDate and endDate should not be greater than 90 days
          schema:
            type: string
      responses:
        200:
          description: Contact campaign statistics informations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getContactCampaignStats'
              examples:
                response:
                  value:
                    messagesSent:
                      - campaignId: 21
                        eventTime: 2016-05-03T20:15:13Z
                      - campaignId: 42
                        eventTime: 2016-10-17T10:30:01Z
                      - campaignId: 45
                        eventTime: 2016-11-09T11:45:02Z
                    opened:
                      - campaignId: 21
                        count: 2
                        eventTime: 2016-05-03T21:24:56Z
                        ip: 66.249.93.118
                      - campaignId: 45
                        count: 1
                        eventTime: 2017-01-30T13:56:40Z
                        ip: 66.249.93.217
                    clicked:
                      - campaignId: 21
                        links:
                          - count: 2
                            eventTime: 2016-05-03T21:25:01Z
                            ip: 66.249.93.118
                            url: https://url.domain.com/fbe5387ec717e333628380454f68670010b205ff/1/go?uid={EMAIL}&utm_source=brevo&utm_campaign=test_camp&utm_medium=email
                    delivered:
                      - campaignId: 21
                        count: 2
                        eventTime: 2016-05-03T21:24:56Z
                        ip: 66.249.93.118
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        404:
          description: Contact's email not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /contacts/attributes:
    get:
      tags:
        - Contacts
      summary: List all attributes
      operationId: getAttributes
      responses:
        200:
          description: Attributes listed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAttributes'
              examples:
                response:
                  value:
                    attributes:
                      - name: LASTNAME
                        category: normal
                        type: text
                      - name: FIRSTNAME
                        category: normal
                        type: text
                      - name: DOB
                        category: normal
                        type: date
                      - name: GENDER
                        category: category
                        type: text
                        enumeration:
                          - value: 1
                            label: Men
                          - value: 2
                            label: Women
                          - value: 3
                            label: Kid
  /contacts/attributes/{attributeCategory}/{attributeName}:
    put:
      tags:
        - Contacts
      summary: Update contact attribute
      operationId: updateAttribute
      parameters:
        - name: attributeCategory
          in: path
          description: Category of the attribute
          required: true
          schema:
            type: string
            enum:
              - category
              - calculated
              - global
              - normal
        - name: attributeName
          in: path
          description: Name of the existing attribute
          required: true
          schema:
            type: string
      requestBody:
        description: Values to update an attribute
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAttribute'
        required: true
      responses:
        204:
          description: Attribute updated
          content: { }
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        404:
          description: Attribute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
      x-codegen-request-body-name: updateAttribute
    post:
      tags:
        - Contacts
      summary: Create contact attribute
      operationId: createAttribute
      parameters:
        - name: attributeCategory
          in: path
          description: Category of the attribute
          required: true
          schema:
            type: string
            enum:
              - normal
              - transactional
              - category
              - calculated
              - global
        - name: attributeName
          in: path
          description: Name of the attribute
          required: true
          schema:
            type: string
      requestBody:
        description: Values to create an attribute
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAttribute'
        required: true
      responses:
        201:
          description: Attribute created
          content: { }
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
    delete:
      tags:
        - Contacts
      summary: Delete an attribute
      operationId: deleteAttribute
      parameters:
        - name: attributeCategory
          in: path
          description: Category of the attribute
          required: true
          schema:
            type: string
            enum:
              - normal
              - transactional
              - category
              - calculated
              - global
        - name: attributeName
          in: path
          description: Name of the existing attribute
          required: true
          schema:
            type: string
      responses:
        204:
          description: Attribute deleted
          content: { }
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        404:
          description: Attribute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /contacts/attributes/{attributeType}/{multipleChoiceAttribute}/{multipleChoiceAttributeOption}:
    delete:
      tags:
        - Contacts
      summary: Delete a multiple-choice attribute option
      operationId: deleteMultiAttributeOptions
      parameters:
        - name: attributeType
          in: path
          description: Type of the attribute
          required: true
          schema:
            type: string
            enum:
              - multiple-choice
        - name: multipleChoiceAttribute
          in: path
          description: Name of the existing muliple-choice attribute
          required: true
          schema:
            type: string
        - name: multipleChoiceAttributeOption
          in: path
          description: Name of the existing multiple-choice attribute option that you want to delete
          required: true
          schema:
            type: string
      responses:
        204:
          description: Multiple-Choice Attribute Option Deleted Successfully.
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
        404:
          description: Attribute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
  /contacts/folders:
    get:
      tags:
        - Contacts
      summary: Get all folders
      operationId: getFolders
      parameters:
        - name: limit
          in: query
          description: Number of documents per page
          required: false
          schema:
            maximum: 50
            minimum: 0
            type: integer
            format: int64
            default: 10
        - name: offset
          in: query
          description: Index of the first document of the page
          required: false
          schema:
            type: integer
            format: int64
            default: 0
        - name: sort
          in: query
          description: Sort the results in the ascending/descending order of record creation. Default order is **descending** if `sort` is not passed
          required: false
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        200:
          description: Folders informations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFolders'
              examples:
                response:
                  value:
                    folders:
                      - id: 42
                        name: Ninja_Form
                        totalBlacklisted: 98
                        totalSubscribers: 4567
                        uniqueSubscribers: 4665
                      - id: 29
                        name: Prestashop
                        totalBlacklisted: 10
                        totalSubscribers: 6543
                        uniqueSubscribers: 6553
                    count: 2
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
    post:
      tags:
        - Contacts
      summary: Create a folder
      operationId: createFolder
      requestBody:
        description: Name of the folder
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createUpdateFolder'
        required: true
      responses:
        201:
          # description: Folder created
          $ref: '#/components/responses/createModel'
        400:
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorModel'
      x-codegen-request-body-name: createFolder
  /contacts/folders/{folderId}:
    get:
      tags:
        - Contacts
      summary: Returns a folder's details
      operationId: getFolder
      parameters:
        - name: folderId
          in: path
          description: id of the folder
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
[...]
